.column{
  display: inline-block;
}

.cell{
  width: 30px;
  height: 30px;
  background-color: #000000;
  margin: 2px;
}

.cell.first{
  background-color: #0FE5E0;
}

.cell.second{
  background-color: #32CD32;
}
